<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %> - Whois</title>
    <!-- From thomasbnt -->
    <meta name="description" content="Obtenir des informations sur les utilisateurs et les robots de Discord par ID ou token !">
    <link rel="icon" type="image/png" href="/img/whois.png" />
    <meta name="theme-color" content="#F1B451">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- JS -->
    <script src="/js/JQuery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="/">
                <img src="/img/whois.png" width="30" height="30" class="d-inline-block align-top" alt="Mr. Robot logo" loading="lazy" style="margin: 0 3px;">
                <%= locals.title %> - Whois
            </a>
        </div>
    </nav>
</div>