<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://whois.mrrobot.app" />
    <link rel="manifest" href="/manifest.json">
    <title>Mr. Robøt — whois</title>
    <meta name="description" content="Un robot Discord de modération 100% français. Avec système automatique anti-insulte & anti-spam. Pas besoin de le paramétrer, tout est déjà prêt !">
    <meta name="Keywords" content="whois, tool ,francais,bot,discord,discordapp,robot,fr,modération,spam,logs,insulte, flood,modo,ban,kick,stats, automatique, outil">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="icon" type="image/png" href="/img/whois.png" />
    <meta name="monetization" content="$ilp.uphold.com/ZrmQjNMeaZFJ">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- JS -->
    <script src="/js/JQuery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Discord ID</title>
</head>
<body>
    <div class="container">
        <!-- Image and text -->
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="/">
                    <img src="/img/whois.png" width="30" height="30" class="d-inline-block align-top" alt="Mr. Robot logo" loading="lazy" style="margin: 0 3px;">
                    Mr. Robøt — Whois
                </a>
            </div>
        </nav>
    </div>