<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- JS -->
    <script src="/js/JQuery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/twemoji.min.js"></script>
    <title>Discord ID</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-none">
            <div class="d-flex justify-content-center align-items-center">
                <a href="https://github.com/ssoraa/discord.id">
                    <img src="https://avatars3.githubusercontent.com/u/61707294?s=400&u=85ba57b5fbc68467a422b5e6ea33720773dee204&v=4" width="30" height="30" alt="" loading="lazy">
                </a>
            </div>
        </nav>
    </div>