<%- include("./partials/header.ejs") %>
<%- include("./partials/loader.ejs") %>

<div class="container">
    <div class="jumbotron bg-dark text-white mt-5">
        <% if (error) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%= error %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <form method="POST">
            <div class="form-group">
                <label for="userid"><h3>User ID <i class="required" data-placement="right" title="Required">*</i></h3></label>
                <input type="text" class="form-control" id="userid" name="user" aria-describedby="help" autocomplete="off" required>
                <small id="help" class="form-text text-muted">Enter discord user id here.</small>
            </div>
            <button type="submit" class="btn btn-blurple rounded" style="width: 100% !important;">Submit</button>
            <small id="info" class="form-text text-muted">Not affiliated with Discord, Inc. <a href="https://github.com/ssoraa/discord.id">GITHUB</a>, <a href="https://discord.gg/gk65SxF">DISCORD</a></small>
        </form>
    </div>
</div>
<script>
    $(".required").tooltip();
</script>
</body>

</html>