<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Sora">

    <title>DISCORD ID</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/bootsrap/css/bootstrap.min.css">
</head>
<body class="p-3 mb-2 bg-dark text-white">
</body>
</html>